body
{
background-color:#040404;
background-image: url(Binary.jpg);
}

h1
{
  text-align:center;
  font-family:courier;
  color: #43DA47;
  background-color:#040404;
  border-radius:40px;
  margin-left:480px;
  margin-right:480px;
  margin-top:10px;
  margin-bottom:30px;

}

table
{
  height:670px;
  width:550px;
  font-size:20px;
  font-family:courier;
  border-radius:20px;
  text-align:center;
  vertical-align:middle;
  color: #43DA47;
  background-color:#040404;
}
         /*I've used id only for now will definitely use labels next time*/
#Name
{
  height:30px;
  width:300px;
  font-size:15px;
  font-family:courier;
}

#email
{
  height:30px;
  width:300px;
  font-size:15px;
  font-family:courier;
}

#Address
{
  height:30px;
  width:300px;
  font-size:15px;
  font-family:courier;
}

#Telephone
{
  height:30px;
  width:300px;
  font-size:15px;
  font-family:courier;
}

#dob
{
  height:30px;
  width:300px;
  font-size:15px;
  font-family:courier;
}

.button
{
  color: #43DA47;
  background-color:#040404;
  width:200px;
  height:50px;
  border-radius:10px;
  font-size:25px;
  font-family:courier;
}

.button:hover
{
  background-color: #43DA47;
  box-shadow: 10px 10px 10px 10px rgba(0,255,0,0.2);
  border: #040404;
  color: #040404;
  transform: translateY(-7px);
}
